/****** Object:  Table [dbo].[Country]    Script Date: 1/15/2023 10:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[PrintableName] [varchar](150) NOT NULL,
	[ISOCode2] [varchar](2) NULL,
	[ISOCode3] [varchar](3) NULL,
	[NumCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([ID], [Name], [PrintableName], [ISOCode2], [ISOCode3], [NumCode]) VALUES (1, N'ANDORRA', N'Andorra', N'AD', N'AND', 20)
INSERT [dbo].[Country] ([ID], [Name], [PrintableName], [ISOCode2], [ISOCode3], [NumCode]) VALUES (2, N'UNITED ARAB EMIRATES', N'United Arab Emirates', N'AE', N'ARE', 784)
INSERT [dbo].[Country] ([ID], [Name], [PrintableName], [ISOCode2], [ISOCode3], [NumCode]) VALUES (3, N'AFGHANISTAN', N'Afghanistan', N'AF', N'AFG', 4)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
