/****** Object:  Table [dbo].[Individual]    Script Date: 1/15/2023 10:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Individual](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IndividualStatusId] [int] NOT NULL,
	[FirstName] [varchar](150) NULL,
	[LastName] [varchar](150) NULL,
	[City] [varchar](150) NULL,
	[StateId] [int] NULL,
	[CountryId] [int] NULL,
	[GenderId] [int] NULL,
	[EthnicityId] [int] NULL,
	[HairColorId] [int] NULL,
	[EyeColorId] [int] NULL,
	[Description] [varchar](max) NULL,
	[Age] [int] NULL,
	[Phone1] [varchar](20) NULL,
	[Phone2] [varchar](20) NULL,
	[Phone3] [varchar](20) NULL,
	[Email1] [varchar](100) NULL,
	[Email2] [varchar](100) NULL,
	[Email3] [varchar](100) NULL,
	[DateLost] [datetime] NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Individual] ON 

GO
INSERT [dbo].[Individual] ([ID], [IndividualStatusId], [FirstName], [LastName], [City], [StateId], [CountryId], [GenderId], [EthnicityId], [HairColorId], [EyeColorId], [Description], [Age], [Phone1], [Phone2], [Phone3], [Email1], [Email2], [Email3], [DateLost], [DateCreated], [DateUpdated]) VALUES (1002, 1, N'bar', N'foo2', N'', NULL, NULL, NULL, NULL, NULL, NULL, N'dfsad fdsf dwqfewqf dvxzvcd fewfdas cvxzf dsfds fdsaf dsaf
dsf dsa
f as
fas f
asd', 0, N'', N'', N'', N'', N'', N'', CAST(N'2023-01-05T03:29:50.160' AS DateTime), CAST(N'2023-01-05T03:29:50.160' AS DateTime), CAST(N'2023-01-05T03:29:50.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[Individual] OFF
GO
ALTER TABLE [dbo].[Individual] ADD  DEFAULT ('') FOR [FirstName]
GO
ALTER TABLE [dbo].[Individual] ADD  DEFAULT ('') FOR [LastName]
GO
ALTER TABLE [dbo].[Individual] ADD  DEFAULT ('') FOR [City]
GO
ALTER TABLE [dbo].[Individual] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Individual] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Individual] ADD  DEFAULT (getdate()) FOR [DateUpdated]
GO
ALTER TABLE [dbo].[Individual]  WITH CHECK ADD FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Individual]  WITH CHECK ADD FOREIGN KEY([EthnicityId])
REFERENCES [dbo].[Ethnicity] ([ID])
GO
ALTER TABLE [dbo].[Individual]  WITH CHECK ADD FOREIGN KEY([EyeColorId])
REFERENCES [dbo].[EyeColor] ([ID])
GO
ALTER TABLE [dbo].[Individual]  WITH CHECK ADD FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[Individual]  WITH CHECK ADD FOREIGN KEY([HairColorId])
REFERENCES [dbo].[HairColor] ([ID])
GO
ALTER TABLE [dbo].[Individual]  WITH CHECK ADD FOREIGN KEY([IndividualStatusId])
REFERENCES [dbo].[IndividualStatus] ([ID])
GO
ALTER TABLE [dbo].[Individual]  WITH CHECK ADD FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([ID])
GO
