@{
    ViewData["Title"] = "Citations";
}

<h1 style="text-align: center; font-weight: bold;">Citations</h1>

<p>
    Gilera, C. L., &amp; Smerdon, P. (2021). Nearly 14 Million Internally Displaced Persons, Refugees and Migrants Hit Hard by Covid-19 in East and Horn of Africa, New Iom-Wfp Study Finds. INTERNATIONAL ORGANIZATION FOR MIGRATION | IOM UN Migration. Retrieved January 15, 2023, from https://www.iom.int/news/nearly-14-million-internally-displaced-persons-refugees-and-migrants-hit-hard-covid-19-east-and-horn-africa-new-iom-wfp-study-finds. 
</p>
<p>
    Smashing Logo. (2023). Design a Logo You Love | Digital Logo Generator. Smashing Logo. Retrieved January 15, 2023, from https://smashinglogo.com/en/. 
</p>
<p>
    Williams, W. (2020). Covid-19 and Africa’s Displacement Crisis. African Center for Strategic Studies. Retrieved January 15, 2023, from https://africacenter.org/spotlight/covid-19-and-africas-displacement-crisis/.
</p>