@{
	ViewData["Title"] = "Forum | Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

	.invalidFeedback {
		color: red;
		font-style: italic;
	}

	.required {
		color: red;
		font-size: small;
	}
</style>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<h2 class="border-bottom">Create Post</h2>

<p>
	<a href="~/Forum">Back to Forums Screen</a><br/>
	<a href="~/Forum/Topic/@ViewBag.ForumTopicId">Back to Posts Screen</a>
</p>

<form id="postForm" action="../PostSubmit" method="post">
	<input type="hidden" value="@ViewBag.ForumTopicId" name="ForumTopicId" />

	<h3 class="border-bottom">Forum Post: </h3>
	<div class="row">
		<div class="col-md-auto">
			<!-- ---------------------------------------------
			-- Forum Post
			---------------------------------------------- -->
			<div class="input-group mb-3">
				<span class="input-group-text" id="PostText">
					Post
				</span>

				<textarea class="form-control"
						  id="Post"
						  name="Post"
						  placeholder="Post"
						  style="height: 10rem;" rows="10" cols="100"
						  autocomplete="off"></textarea>
			</div>
		</div>
	</div>

	<!-- ---------------------------------------------
	-- Submit
	---------------------------------------------- -->
	<div class="row">
		<div class="col">
			<div class="g-recaptcha" data-sitekey="@ViewBag.ReCaptchaKey"></div>

			<button class="btn btn-primary btn-lg"
					id="submitButton"
					type="submit">
				Submit
			</button>
			<button class="btn btn-secondary btn-lg"
					id="resetButton"
					type="reset">
				Reset
			</button>
			<div id="SubmissionMessage" style="display:none">
				Now submitting! please wait!!
			</div>

			<div id="PostInvalidFeedback" class="invalidFeedback">
				- Post is Required!
			</div>
		</div>
	</div>
</form>



<script>
	/* **************************************
	UI Setup
	************************************** */
	$(document).ready(function () {
		$('.invalidFeedback').css('display', 'none');
	});
</script>
<script>
	/* **************************************
	Validation
	************************************** */
	$('#postForm').on('submit', function () {
		if (grecaptcha.getResponse() === '') {
			alert('Recaptcha required!');
			return false;
		}

		if (ValidateForm()) {
			$('#submitButton').hide();
			$('#resetButton').hide();
			$('#SubmissionMessage').show();

			return true;
		}

		return false;
	});


	function ValidateForm() {
		let isValid = true;
		let Post = $.trim($('#Post').val());

		//Post required
		if (Post === '') {
			$('#PostInvalidFeedback').show();
			isValid = false;
		}

		return isValid;
	}
</script>
